
services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: always
    command: tunnel run
    volumes:
      - /mnt/cryobs/cloudflared:/etc/cloudflared:ro
    networks:
      - cloudflare-net

networks:
  cloudflare-net:
    external: true
